<head>
    <meta charset="UTF-8">
    <title>${あなたのハンドルネーム}の自己紹介</title>
</head>
<body>
<img src="https://cdn.pixabay.com/photo/2017/04/08/16/16/beach-2213623__480.jpg" alt="トップ画像">

<h1>matmatmat1</h1>

<h3>わたしの情報</h3>
<table>
    <tr>
        <th>年齢</th>
        <td>32歳</td>
    </tr>
    <tr>
        <th>都道府県</th>
        <td>東京都</td>
    </tr>
</table>

<h3>趣味</h3>
<ul>
    <li>音楽鑑賞</li>
    <li>映画鑑賞</li>
    <li>美味しいご飯を食べること</li>
</ul>

<h3>好きな動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gBumdOWWMhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>